*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Hind', sans-serif;
    font-size: 62.5%;
    color: #212529;
    line-height: 1.5;
    background-color: #fff;
}
/* header  */
header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
header .navbar-brand{
    font-size: 3.6rem;
    color: #fff;
}
header .navbar-brand i{
    font-size: 4.5rem;
    color: #35a22c;
}
#navbarPort .nav-item{
    margin: 0 1rem;
}
#navbarPort .nav-item .nav-link{
    color: #fff;
    font-size: 1.6rem;
    transition: all .5s;
}
#navbarPort .nav-item:hover .nav-link{
    color: #35a22c;
}
#navbarPort .nav-item::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: #35a22c;
    display: block;
    transition: all .5s;

}
#navbarPort .nav-item:hover::after{
    width: 100%;
}
#navbarPort .nav-item.active .nav-link{
    color: #35a22c;
}
#navbarPort .nav-item.active::after{
    width: 100%;
}
/* carousel  */
.myCarousel .carousel-item{
    height: 100vh;
}
.myCarousel .carousel-caption{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.myCarousel .carousel-caption h5{
    font-size: 5vw;
    line-height: 5vw;
}
.myCarousel .carousel-caption p{
    font-size: 3vw;
}
.carousel__thumb{
    width: 14rem;
    padding: 8px;
    border-radius: 50%;
    margin: auto;
    backdrop-filter: blur(3px);
}
.carousel-caption img{
    width: 14rem;
    border-radius: 50%;
    margin: auto;
}

.myCarousel .carousel-indicators li{
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: none;
}
.myCarousel .carousel-indicators li.active{
    background-color: #35a22c;
}
.carousel-indicators{
    bottom: 10%;
}
.carousel-control-next-icon{
    visibility: hidden;
}
/* projects  */
.projects{
    padding: 4.8rem 1.5rem;
}
.heading{
    max-width: 75rem;
}
.heading h2 {
    font-size: 3.6rem;
    line-height: 4.2rem;
    color: #1a1d2d;
    font-weight: 600;
}
.heading p {
    color: #585858;
    line-height: 2.4rem;
    font-size: 1.6rem;
}
.projects .nav-pills .nav-link {
    color: #1a1d2d;
    border: 1px solid #1a1d2d;
    margin: 0 5px;
    font-size: 1.6rem;
        padding: 8px 16px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #35a22c;
    color: #fff;
    border-color: #35a22c;
}
.projects__item {
    margin-top: 30px;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 0.4rem rgb(0 0 0 / 13%);
    border: none;
    cursor: pointer;
}
.projects__item .card-title{
    font-size: 2rem;
    margin: 0 0 8px;
}
.projects__item .card-text {
    color: #585858;
    font-size: 1.6rem;
    margin: 0 0 1.6rem;
}
.card-body{
    padding: 2rem;
}
.projects__item .card-body{
    border: 1px solid transparent;
    border-radius: 0 0 1rem 1rem;
    transition: all .5s;
}
.projects__item:hover .card-body{
    border-color: #35a22c;
    border-top-color: transparent;
}
.projects__item:hover .card-title{
    color: #35a22c;
}
/* feature  */
.feature {
    background: url(../img/3.jpg) no-repeat center;
    background-size: cover;
    padding: 100px 0 120px;
    background-attachment: fixed;
    position: relative;
}
.feature .overlay {
    background: rgba(7,10,12,.72);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;height: 100%;
}