*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Hind', sans-serif;
    font-size: 62.5%;
    color: #212529;
    line-height: 1.5;
    background-color: #fff;
}
/* header  */
header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
header .navbar-brand{
    
}